<div class="background-wrap">
  <div class="background"></div>
</div>
<div>
  <br/>
  <h2 class="card-header text-center text-light">Register</h2>
</div>
<br/>
<br/>
<br/>
<br/>

<div class="card-body">

<form>

  <div class="row">
    <div class="col-md-6 text-light">
      <label for="inputFirstName">First Name:</label>
      <input [(ngModel)]="user.firstName" type="text" name="fname" class="form-control" id="inputFirstName">
    </div>
    <div class="col-md-6 text-light">
      <label for="inputLastName">Last Name:</label>
      <input [(ngModel)]="user.lastName" type="text" name="lname" class="form-control" id="inputLastName">
    </div>
    <div class="col-md-6 text-light">
      <label for="inputUsername">Username:</label>
      <input [(ngModel)]="user.username" type="text" name="uname" class="form-control" id="inputUsername">
    </div>
    <div class="col-md-6 text-light">
      <label for="inputPassword">Password:</label>
      <input [(ngModel)]="user.password" type="password" name="password" class="form-control" id="inputPassword">
    </div>
    <div class="col-md-16 text-light">
      <label for="inputEmail">Email:</label>
      <input [(ngModel)]="user.email" type="email" name="email" class="form-control" id="inputEmail">
    </div>

    <button type="submit" class="btn btn-secondary" (click)="registerUser()">Register!</button>
  </div>
