<div class="background-wrap">
  <div class="background"></div>
</div>

<!--<div class="card text-center">
  <div class="card-header">
    Your Wallet
  </div>
  <div class="card-body">
    <h5 class="card-title">Your current wallet contains</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">An item</li>
    <li class="list-group-item">A second item</li>
    <li class="list-group-item">A third item</li>
  </ul>
</div>-->

<!-- Jumbotron -->
<header>
  <div class="p-5 text-center text-light">
    <h1 class="mb-3">Wallet</h1>
  </div>
  <!-- Jumbotron -->
</header>
<br />
<br />
<br />
<div id="cryptoCards">
  <div *ngFor="let c of cryptos" class="cryptoCard">
    <div id="cardTitle">
      <div id="cryptoName">{{ c.name }}</div>
      <img
        src="assets/{{ c.code }}.png"
        class="{{ c.name }}-logo"
        alt="{{ c.name }}"
        width="50"
        height="40"
      />
      <div id="cryptoCode">{{ c.code }}</div>
    </div>
    <div id="spotPrice">Amount: {{ c.balance }}</div>
  </div>
</div>
<br />
<br />
<br />
<div class="card w-75">
  <div class="card-body">
    <h5 class="card-title text-center">USD {{ coinAmount.get("USD") }}</h5>
    <!-- <p class="card-text text-center">$ {{ walletinfo.substring(271, 279) }}</p> -->
  </div>
</div>
