

<div>

  <div id="cryptoCards">
    <div *ngFor="let c of cryptos" class="cryptoCard">
      <div id="cardTitle">
        <div id="cryptoName">{{ c.name }}</div>


        <img src='assets/{{c.code}}.png' class='{{c.name}}-logo' alt='{{c.name}}' width="50" height="40">

        <div id="cryptoCode">{{ c.code }}</div>
      </div>
      <div id="spotPrice">{{ c.spotPrice }}</div>

      <div id="buySellPrice">
        <div id="buyPrice">Buy ${{ c.buyPrice ?? "NA" }}</div>

        <div id="sellPrice">Sell ${{ c.sellPrice ?? "NA" }}</div>

      </div>
    </div>
  </div>
</div>


<p *ngIf="cryptos.length == 0">There is no data fetched.</p>



<div class="card " style="width: 120rem;">
  <div class="card-header text-center">
    Top 3 earners
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item  text-center">1st Place</li>
    <li class="list-group-item  text-center">2nd Place</li>
    <li class="list-group-item  text-center">3rd Place</li>
  </ul>
</div>

