<div class="row">
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <img src={{bitcoin}} class="Bitcoin-logo" alt="Bitcoin" width="40" height="40">
        <h5 class="card-title">Bitcoin</h5>
        <p class="card-text">Current Buying price: </p>
        <p class="card-text">Current Selling price:</p>
        <button type="button" class="btn btn-primary">Buy</button>
        <button type="button" class="btn btn-primary">Sell</button>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <img src={{ethereum}} class="Ethereum-logo" alt="Ethereum" width="40" height="40">
        <h5 class="card-title">Ethereum</h5>
        <p class="card-text">Current Buying price: </p>
        <p class="card-text">Current Selling price:</p>
        <button type="button" class="btn btn-primary">Buy</button>
        <button type="button" class="btn btn-primary">Sell</button>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <img src={{cardano}} class="Cardano-logo" alt="Cardano" width="40" height="40">
        <h5 class="card-title">Cardano</h5>
        <p class="card-text">Current Buying price: </p>
        <p class="card-text">Current Selling price:</p>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#car-buy">Buy</button>
        <button type="button" class="btn btn-primary">Sell</button>
      </div>
    </div>
  </div>
</div>

<!--Modal stuff-->
<div class="modal fade" id="car-buy" tabindex="-1" aria-labelledby="modal-title" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-title">Buy</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">Current Buy price: </div>
      <div class="modal-footer">
        <button class="btn btn-primary">Buy</button>
      </div>
    </div>
  </div>
</div>
