#cryptoCards {
  display: flex;
  flex-wrap: wrap;
}

#cryptoCards > div {
  margin: 5px;
  padding: 5px;
  border: 3px solid grey;
  width: 23vw;
  background-color: beige;
  min-width: 225px;
}

#cryptoName {
  color: green;
}

#buySellPrice {
  display: flex;
  justify-content: space-between;
}

#buySellPrice > div {
  margin: 5px;
}

#cardTitle {
  display: flex;
  justify-content: space-between;
}

#cryptoCode {
  font-weight: 600;
}

#spotPrice {
  display: flex;
  justify-content: center;
  border: 1px solid grey;
  margin-left: 3px;
  margin-right: 3px;
  padding: 3px;
}

.card {
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
  margin-top: 15px;
  margin-left: 50px;
}

.card2 {
  margin: 0 auto;
  float: right;
  margin-bottom: 10px;
  margin-top: 15px;
  margin-left: 200px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.row > div[class*="col-"] {
  display: flex;
}

#cryptoCards > div {
  margin: 0 auto;
  padding: 5px;
  border: 3px solid grey;
  width: 23vw;
  background-color: beige;
  min-width: 225px;
  margin-left: 20px;
  margin-bottom: 15px;
  float: down;
}

#cryptoName {
  color: green;
}

#buySellPrice {
  display: flex;
  justify-content: space-between;
}

#buySellPrice > div {
  margin: 5px;
}

#cardTitle {
  display: flex;
  justify-content: space-between;
}

#cryptoCode {
  font-weight: 600;
}

#spotPrice {
  display: flex;
  justify-content: center;
  border: 1px solid grey;
  margin-left: 3px;
  margin-right: 3px;
  padding: 3px;
}

.background {
  /* CPU chip https://images.unsplash.com/photo-1513366976578-e01c21fb9c76?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80 */
  background: url("https://images.unsplash.com/photo-1446776858070-70c3d5ed6758?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172&q=80");
  background-size: cover;
  filter: blur(10px);
  height: 105%;
  position: relative;
  width: 105%;
  right: -2.5%;
  left: -2.5%;
  top: -2.5%;
  bottom: -2.5%;
}

* {
  box-sizing: border-box;
  cursor: default;
  outline: none;
}

.background-wrap {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
}

h2 {
  float: center;
}
.card {
  margin: 0 auto;
  padding: 5px;
  border: 3px solid grey;
  width: 20vw;
  background-color: beige;
  min-width: 100px;
  margin-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
}

#buyPrice,
#sellPrice {
  border: 1px solid blue;
  border-radius: 3px;
  padding-left: 2px;
  padding-right: 2px;
}

.btn {
  padding: 2px;
  border: 0;
  margin-right: 2%;
}
