<div class="background-wrap">
  <div class="background"></div>
</div>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<div class="card" style="width: 120rem;">
  <div class="card-header text-center">
    Top 5 earners
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item text-center">1st Place</li>
    <li class="list-group-item text-center">2nd Place</li>
    <li class="list-group-item text-center">3rd Place</li>
    <li class="list-group-item text-center">4th Place</li>
    <li class="list-group-item text-center">5th Place</li>
  </ul>
</div>
